header {
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 1px solid #7274ed;
}

a {
    color: #3134eb;
    &:hover {
        background: #7274ed;
        color: white;
        cursor: pointer;
    }
}

a.logo {
    font-weight: bold;
    padding: 1rem;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a {
    padding: 1rem;
    display: inline-block;
}

a span {
    background: #3134eb;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container {
    position: relative;
    &:hover .menu{
        display: block;
    } 
}

.menu {
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;

}

.menu a {
    width: 100%;
    min-width: 8rem;
}