<div class="title">
    <app-title title="Cart"></app-title>
</div>
<app-not-found [visible]="!cart || !cart.items.length" [notFoundMessage]="'Cart Is Empty!'" [resetLinkText]="'Search for food'"></app-not-found>
<div class="container" *ngIf="cart?.items?.length">
    <ul>
        <li *ngFor="let item of cart.items">
            <div>
                <img src="{{item.food.imageUrl}}" alt="{{item.food.name}}">
            </div>
            <div>
                <a routerLink="/food/{{item.food.id}}">
                    {{item.food.name}}
                </a>
            </div>
            <div>
                <select #quantitySelect
                [value]="item.quantity"
                (change)="changeQuantity(item, quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                {{item.price | currency:'EUR':true}}
            </div>
            <div>
                <button class="remove-btn" (click)="removeFromCart(item)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div class="food-count">    
            <span><span class="define-text">Count:</span> {{cart.totalCount}}</span> 
        </div>
        <div class="total-price">
            <span><span class="define-text">Price:</span> {{cart.totalPrice | currency:'EUR':true}}</span> 
        </div>
        <a routerLink="/checkout">Proceed to checkout</a>
    </div>
</div>